.sumbit {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.sumbit:hover {
  background-color: #006c04;
  transition: all 1s ease;
  font-weight: 400;
  border-radius: 0.2rem;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  overflow: hidden;
}

.tooltip {
  position: relative;
  background: crimson;
  padding: 5px 12px;
  margin: 5px;
  font-size: 15px;
  border-radius: 100%;
  color: black;
}

.tooltip:after {
  position: absolute;
  content: '';
  opacity: 0;
  transition: all 0.4s ease;
}
.tooltip:hover {
  background: white;
  transition: all 2s ease;
}
.tooltip:after {
  content: attr(data-tooltip);

  width: 160px;
  height: 40px;
  font-size: 13px;
  font-weight: 300;
  top: -75px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
}

.tooltip:hover::after {
  opacity: 1;
  background: rgb(216, 215, 215);
  transform: translateY(-2px);
  animation: shake 500ms ease-in-out forwards;
}

@keyframes shake {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  70% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  background: blue;
}

.input label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
}

.input input:focus {
  outline: none;
  border-color: #4f005f;
}

#test {
  background: black;
}
