.button {
  font: inherit;
  border: 1px solid yellow;
  background: palevioletred;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: yellow;
  border-color: palevioletred;
}

.button:focus {
  outline: none;
}
