h2 {
  color: #5fcffc;
  background-color: rgb(89, 151, 0);
}

button {
  color: magenta;
  background-color: cyan;
}

p {
  color: olive;
  background: rgb(228, 161, 37);
  font: monospace;
  text-align: center;
  font-weight: 100;
  letter-spacing: -1px;
  font-family: monospace;
}
li {
  color: blue;
}
.done {
  color: grey;
}
#clear {
  background-color: red;
  color: white;
}

body {
  background-color: #c5e;
}
header a {
  font-size: 30px;
  color: teal;
}
#dislikes {
  font-weight: bold;
  color: red;
}
#board :nth-of-type(2n) {
  background-color: red;
}
#board :nth-of-type(n) {
  background-color: red;
}
/* .card {
  width: 210px;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
} */
/* img {
  width: 200px;
  border: 5px solid rgb(236, 183, 191);
  border-radius: 50%;
} */
